@page "/fetchdata"
@using BlazorSales.Shared
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
  
   @* <table id="adminTable" class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Temp. (C)</th>
                <th scope="col">Temp. (F)</th>
                <th scope="col">Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
             
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>  *@

    <table id="adminTable" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ashish Kumar</td>
                <td>PHP</td>
                <td>Office ABC</td>
                <td>100000</td>
            </tr>
            <tr>
                <td>Vijay Kumar</td>
                <td>Wordpress</td>
                <td>Office PQR</td>
                <td>80000</td>
            </tr>
            <tr>
                <td>Dhananjay Negi</td>
                <td>Node Js</td>
                <td>Office XYZ</td>
                <td>150000</td>
            </tr>
        </tbody>
    </table>

}

@code {
    private WeatherForecast[]? forecasts;



    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
        
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<object>("initializeDataTable", "#adminTable");
        }
    }
}


